*.class
*.log
*.iml

# Package Files #
*.jar
*.war
*.ear


# ide files #
.classpath
.project
.mymetadata
/.idea/
/captures/
.DS_Store
.idea/
.mvn/
ehr_log/

# setting folders #
.settings/
.svn/
.bin/
.git/
target/
lib/
